[color]
diff        = auto
status      = auto
branch      = auto
interactive = true

[alias]
parents = show -s --pretty=format:'%P'
co      = checkout
ci      = commit
di      = diff --color-words
lol     = log --graph --decorate --oneline
# --all -> all the refs
glog    = log --graph --decorate --all

[push]
default = simple

[init]
defaultBranch = master

[merge]
# <<<<<<<
# one side
# |||||||
# original text
# =======
# other side
# >>>>>>>
conflictStyle = diff3

# define user/{email,name} in very user specific
# dotfile (where the path is relative to the origin
# of this file)
[include]
path = .gitconfig.local
