# NB: cf. .config/git/ignore for global ignores

[color]
diff        = auto
status      = auto
branch      = auto
interactive = true

[alias]
parents = show -s --pretty=format:'%P'
co      = checkout
ci      = commit
di      = diff --color-words
lol     = log --graph --decorate --oneline
# --all -> all the refs
glog    = log --graph --decorate --all

[push]
# push the current branch and use same name, remotely
default    = simple
# implicitly push all local tags with a normal push
# (instead of explicitly adding `--folow-tags`
#  or following up with `git push --tags`)
followTags = true

[init]
defaultBranch = master


[diff]
# use modern improved algorithm
algorithm      = histogram
# color moved lines differently
colorMoved     = plain
# use (i)ndex, (w)ork, (c)ommit and (o)bject prefixes in the diff header
# (instead of a and b)
mnemonicPrefix = true

[merge]
# <<<<<<<
# one side
# |||||||
# original text
# =======
# other side
# >>>>>>>
conflictStyle = diff3


[branch]
# sort branches by committerdate, descending
sort = -committerdate

[tag]
sort = version:refname


# define user/{email,name} in very user specific
# dotfile (where the path is relative to the origin
# of this file)
[include]
path = .gitconfig.local
