

decoration {
    /* When using Gnome Terminal under CentOS 7 with a dark background theme,
       there are no visible window borders.
       Which is tedious when having two terminal windows
       side-by-side/overlapping.
       Thus, this gives us some nice ergonomic window borders. */
    border: 2px solid darkgreen;

    /* probably doesn't make much of a difference */
    /* background: gray; */
}


/* increase scrollbar width */
scrollbar, scrollbar button, scrollbar slider {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
  min-width: 20px;
  min-height: 20px;
  border-radius: 0;
}
